{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Page index
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="card col-4">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">{{ product }}</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
